body{
  margin:0px;
  padding:0px;
  height:auto;
}

.wrapper center{
  height:100%;
  width:100%;
}

.header{
  width:998px;
  height:331.81px;
  margin-top:80px;
}

.img{
  position:absolute;
  transform: scale(1,1);
  transition: all .5s;
  z-index: 1;
  flex:50%;
}


#img1{
  left: 223px;
  height: 240px;
}

#img2{
  height: 160px;
  top: 252px;
  left: 338px;
  width: 360px;
}

#img3{
  height: 331.81px;
  left: 180px;
}

#img4{
  width: auto;
  height: 250px;
  top: 162px;
  left: 665px;
}

#img5{
  width: 420px;
  height: 235px;
  left: 550px;
}

#img6{
  height: 331.81px;
  left: 895px;
}

.blur{
    filter:blur(5px);
    transition: all 0.5s ease;
}
